body {
    background-color: #363636;
    color: #FFFFFF;
    font-family: 'Ubuntu';
}

.simulate-transaction-page {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#live-table {
    color: #000000;
}

#filter-table {
    color: #000000;
}

.text-box {
  background-color: #000000;
  padding: 20px;
  opacity: 0.3;
}
